.filter {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
}

.filter label {
  display: block;
  margin-bottom: 10px;
}

.filter__select {
  margin-bottom: 20px;
}

.filter__status {
  width: 45%
}

.filter__type {
  width: 45%
}

.filter__priority {
  width: 45%
}

.filter__days {
  width: 45%;
}